button:hover{
    background-color: #E2DD9A;
    color: #632902;
}
a:hover{
    color: #E2DD9A;
}
@media screen and (max-width: 1166px) {
    nav{
        
        background-color: #B9AFA8;
        height:105px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 15px;
        list-style-type: none;
        left: -57px;
    }
    .logo{
        width: 63px;
        height: auto;
        position: relative;
        left: 48%;
        top: -55px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 26px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -125px !important;
        left: 577px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 215px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1579px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 15%;
        height: 42px;
        background-color: white;
        border-style: none;
        color: #B9AFA8;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1212px;
        left: 140px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top: 1212px;
        left: 469px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top: 2027px;
        left: -218px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 2027px;
        left: 121px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 2839px;
        left: -569px;
    
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 2839px;
        left: -232px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 4284px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    }
@media screen and (min-width: 1166px) {
    nav{
        
        background-color: #B9AFA8;
        height:105px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 15px;
        list-style-type: none;
        left: -57px;
    }
    .logo{
        width: 63px;
        height: auto;
        position: relative;
        left: 48%;
        top: -55px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 26px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -125px !important;
        left: 577px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 215px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1579px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 15%;
        height: 42px;
        background-color: white;
        border-style: none;
        color: #B9AFA8;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1212px;
        left: 140px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top: 1212px;
        left: 469px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top: 2027px;
        left: -218px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 2027px;
        left: 121px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 2839px;
        left: -569px;
    
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 2839px;
        left: -232px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 4284px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    }
@media screen and (min-width: 1266px) {
        nav{
            
            background-color: #B9AFA8;
            height:105px ;
            overflow: hidden;
        }
        ul{
            display: flex;
            position: relative;
            top: 15px;
            list-style-type: none;
            left: -27px;
        }
        .logo{
            width: 63px;
            height: auto;
            position: relative;
            left: 48%;
            top: -55px;
        }
        a{
            font-family: 'Poppins', sans-serif; 
            color: #fff;
            font-size: 29px;
            margin: 66px;
            text-decoration: none;
        }
        .nav2{
            top: -125px !important;
            left: 660px;
        }
        .p1{
            position: relative;
            top: 85px;
            margin-top: 20px;
            margin: 0;
            left: 4.5%;
            width: 91%;
        }
        .parte2{
             position: relative;
             margin-top: 20px;
             width: 100%;
             left: 0px;
             top: 215px;
             margin: 0;
        }
        .p2{
            background-color: #B9AFA8;
            height: 435px;
            position: absolute;
            top: 1114px;
            z-index: -1;
            width: 91%;
            left: 0px;
        }
        .part2{
            margin-top: 248px;
            
        }
        .p21{
            width: 435px;
            height: auto;
            position: relative;
            left: 73px;
            top: -189px;
        }
        .p22{
            position: relative;
            left: 99px;
            top: -338px;
        }
        .p23{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 72px;
            position: relative;
            left: 559px;
            top: -11px;
            color: #B9AFA8;
            width: 200px;
        }
        
        .p31{
            position: absolute;
            top: 1579px;
            left: 4.5%;
            width: 91%;
            margin: 0;
        }
        button{
            width: 16%;
            height: 45px;
            background-color: white;
            border-style: none;
            color:#B9AFA8 ;
            font-family: 'Poppins', sans-serif;
            font-size: 29px;
            font-weight: 400;
        }
        
        .bt1{
            position: relative;
            top: 1198px;
            left: 151px; 
            margin: 0;
        }
        .bt2{
            position: relative;
            top: 1198px;
            left: 506px;
            margin: 0;
        }
        .bt3{
            position: relative;
            top: 2087px;
            left: -262px;
            margin: 0;
        }
        .bt4{
            position: relative;
            top: 2087px;
            left: 95px;
            margin: 0;
        }
        .bt5{
            position: relative;
            top: 2972px;
            left: -666px;
            margin: 0;
        }
        .bt6{
            position: relative;
            top: 2972px;
            left: -310px;
            margin: 0;
        }
        .fot{width: 100%;
           position: absolute;
            top: 4513px;
            left: 0px;
            z-index: -1;
        }
        .eee{
            background-color: teal;
            height: 1000px;
        }
        .piu{
            margin: 0;
            font-size: 0;
        }
        }    
@media screen and (min-width: 1366px) {
nav{
    
    background-color: #B9AFA8;
    height:105px ;
    overflow: hidden;
}
ul{
    display: flex;
    position: relative;
    top: 15px;
    list-style-type: none;
    left: -27px;
}
.logo{
    width: 63px;
    height: auto;
    position: relative;
    left: 48%;
    top: -55px;
}
a{
    font-family: 'Poppins', sans-serif; 
    color: #fff;
    font-size: 29px;
    margin: 66px;
    text-decoration: none;
}
.nav2{
    top: -125px !important;
    left: 741px;
}
.p1{
    position: relative;
    top: 85px;
    margin-top: 20px;
    margin: 0;
    left: 4.5%;
    width: 91%;
}
.parte2{
     position: relative;
     margin-top: 20px;
     width: 100%;
     left: 0px;
     top: 215px;
     margin: 0;
}
.p2{
    background-color: #B9AFA8;
    height: 435px;
    position: absolute;
    top: 1114px;
    z-index: -1;
    width: 91%;
    left: 0px;
}
.part2{
    margin-top: 248px;
    
}
.p21{
    width: 435px;
    height: auto;
    position: relative;
    left: 73px;
    top: -189px;
}
.p22{
    position: relative;
    left: 99px;
    top: -338px;
}
.p23{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 72px;
    position: relative;
    left: 559px;
    top: -11px;
    color: #B9AFA8;
    width: 200px;
}

.p31{
    position: absolute;
    top: 1751px;
    left: 4.5%;
    width: 91%;
    margin: 0;
}
button{
    width: 16%;
    height: 45px;
    background-color: white;
    border-style: none;
    color:#B9AFA8 ;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 400;
}

.bt1{
    position: relative;
    top: 1339px;
    left: 162px; 
    margin: 0;
}
.bt2{
    position: relative;
    top: 1339px;
    left: 544px; 
    margin: 0;
}
.bt3{
    position: relative;
    top: 2301px;
    left: -283px;
    margin: 0;
}
.bt4{
    position: relative;
    top: 2301px;
    left: 101px;
    margin: 0;
}
.bt5{
    position: relative;
    top: 3257px;
    left: -716px;
    margin: 0;
}
.bt6{
    position: relative;
    top: 3257px;
    left: -334px;
    margin: 0;
}
.fot{width: 100%;
   position: absolute;
    top: 4921px;
    left: 0px;
    z-index: -1;
}
.eee{
    background-color: teal;
    height: 1000px;
}
.piu{
    margin: 0;
    font-size: 0;
}
}

   