button:hover{
    background-color: #E2DD9A;
    color: #632902;
}
a:hover{
    color: #E2DD9A;
}
@media screen and (max-width: 1166px) {
    nav{
        
        background-color: #B9AFA8;
        height:105px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 15px;
        list-style-type: none;
        left: -57px;
    }
    .logo{
        width: 63px;
        height: auto;
        position: relative;
        left: 48%;
        top: -55px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 26px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -125px !important;
        left: 577px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 215px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1579px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 15%;
        height: 42px;
        background-color: white;
        border-style: none;
        color: #B9AFA8;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1212px;
        left: 140px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top: 1212px;
        left: 469px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top: 2027px;
        left: -218px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 2027px;
        left: 121px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 2839px;
        left: -569px;
    
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 2839px;
        left: -232px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 4284px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        position: relative;
        top: 3620px;
        left: 177px;
        width: 908px;
    }
    .fot21 .fot22 .fot23{
        position: relative;
        margin: 80px;
    }
    .links{
        position: relative;
        top: 1913px;
        left: 57px;
        width: 800px;
    }

    .ma {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .tma{
        position: relative;
        top: -6px;
        font-size: 16px;
    }
    .be {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .wap {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .loc {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .erre{
        display: flex;
        margin: 15px;
    }
    }

@media screen and (min-width: 1166px) {
    nav{
            
        background-color: #B9AFA8;
        height: 81px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 7px;
        list-style-type: none;
        left: -27px;
    }
    .logo{
        width: 47px;
        height: auto;
        position: relative;
        left: 48%;
        top: -44px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size:19px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -101px !important;
        left: 640px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 181px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1278px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 12%;
        height: 37px;
        background-color: white;
        border-style: none;
        color:#B9AFA8 ;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 951px;
        left: 133px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top:  951px;
        left: 297Px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top:  951px;
        left: 467px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 1591px;
        left: -307px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 1591px;
        left: -131px;
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 1591px;
        left: 47px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 2833px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        position: relative;
        top: 3284px;
        left: 157px;
        width: 908px;
    }
    .fot21 {
        position: relative;
        margin: 80px;
        width: 150px;
    }
    .links{
        position: relative;
        top: 1913px;
        left: 57px;
        width: 800px;
    }

    .ma {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .tma{
        position: relative;
        top: -6px;
        font-size: 16px;
    }
    .be {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .wap {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .loc {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .erre{
        display: flex;
        margin: 15px;
    }
        }
@media screen and (min-width: 1250px) {
    nav{
            
        background-color: #B9AFA8;
        height: 81px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 7px;
        list-style-type: none;
        left: -27px;
    }
    .logo{
        width: 47px;
        height: auto;
        position: relative;
        left: 48%;
        top: -47px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 21px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -107px !important;
        left: 660px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 181px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1326px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 12%;
        height: 37px;
        background-color: white;
        border-style: none;
        color:#B9AFA8 ;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 969px;
        left: 145px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top:  969px;
        left: 325Px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top:  969px;
        left: 513px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 1668px;
        left: -337px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 1668px;
        left: -143px;
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 1668px;
        left: 51px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 3006px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        position: relative;
        top: 3284px;
        left: 157px;
        width: 908px;
    }
    .fot21 {
        position: relative;
        margin: 80px;
        width: 150px;
    }
    .links{
        position: relative;
        top: 2034px;
        left: 57px;
        width: 800px;
    }

    .ma {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .tma{
        position: relative;
        top: -6px;
        font-size: 16px;
    }
    .be {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .wap {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .loc {
        width: auto;
        height: 45px;
        margin-right:  33px;
    }
    .erre{
        display: flex;
        margin: 15px;
    }
            }
@media screen and (min-width: 1266px) {
        nav{
            
            background-color: #B9AFA8;
            height: 81px ;
            overflow: hidden;
        }
        ul{
            display: flex;
            position: relative;
            top: 7px;
            list-style-type: none;
            left: -27px;
        }
        .logo{
            width: 47px;
            height: auto;
            position: relative;
            left: 48%;
            top: -47px;
        }
        a{
            font-family: 'Poppins', sans-serif; 
            color: #fff;
            font-size: 21px;
            margin: 66px;
            text-decoration: none;
        }
        .nav2{
            top: -107px !important;
            left: 660px;
        }
        .p1{
            position: relative;
            top: 85px;
            margin-top: 20px;
            margin: 0;
            left: 4.5%;
            width: 91%;
        }
        .parte2{
             position: relative;
             margin-top: 20px;
             width: 100%;
             left: 0px;
             top: 181px;
             margin: 0;
        }
        .p2{
            background-color: #B9AFA8;
            height: 435px;
            position: absolute;
            top: 1114px;
            z-index: -1;
            width: 91%;
            left: 0px;
        }
        .part2{
            margin-top: 248px;
            
        }
        .p21{
            width: 435px;
            height: auto;
            position: relative;
            left: 73px;
            top: -189px;
        }
        .p22{
            position: relative;
            left: 99px;
            top: -338px;
        }
        .p23{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 72px;
            position: relative;
            left: 559px;
            top: -11px;
            color: #B9AFA8;
            width: 200px;
        }
        
        .p31{
            position: absolute;
            top: 1326px;
            left: 4.5%;
            width: 91%;
            margin: 0;
        }
        button{
            width: 12%;
            height: 37px;
            background-color: white;
            border-style: none;
            color:#B9AFA8 ;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
        
        .bt1{
            position: relative;
            top: 969px;
            left: 145px; 
            margin: 0;
        }
        .bt2{
            position: relative;
            top:  969px;
            left: 325Px;
            margin: 0;
        }
        .bt3{
            position: relative;
            top:  969px;
            left: 513px;
            margin: 0;
        }
        .bt4{
            position: relative;
            top: 1668px;
            left: -337px;
            margin: 0;
        }
        .bt5{
            position: relative;
            top: 1668px;
            left: -143px;
            margin: 0;
        }
        .bt6{
            position: relative;
            top: 1668px;
            left: 51px;
            margin: 0;
        }
        .fot{width: 100%;
           position: absolute;
            top: 3006px;
            left: 0px;
            z-index: -1;
        }
        .eee{
            background-color: teal;
            height: 1000px;
        }
        .piu{
            margin: 0;
            font-size: 0;
        }
        .link{
            display: flex;
            position: relative;
            top: 3284px;
            left: 157px;
            width: 908px;
        }
        .fot21 {
            position: relative;
            margin: 80px;
            width: 150px;
        }
        .links{
            position: relative;
            top: 1994px;
            left: 57px;
            width: 800px;
        }
    
        .ma {
            width: auto;
            height: 55px;
            margin-right:  33px;
        }
        .tma{
            position: relative;
            top: -11px;
        }
        .be {
            width: auto;
            height: 55px;
            margin-right:  33px;
        }
        .wap {
            width: auto;
            height: 55px;
            margin-right:  33px;
        }
        .loc {
            width: auto;
            height: 55px;
            margin-right:  33px;
        }
        .erre{
            display: flex;
            margin: 15px;
        }
        }    
@media screen and (min-width: 1366px) {
    nav{
            
        background-color: #B9AFA8;
        height: 81px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 7px;
        list-style-type: none;
        left: 0px;
    }
    .logo{
        width: 47px;
        height: auto;
        position: relative;
        left: 48%;
        top: -47px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 21px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -107px !important;
        left: 775px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 181px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1424px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 12%;
        height: 37px;
        background-color: white;
        border-style: none;
        color:#B9AFA8 ;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1045px;
        left: 157px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top:  1045px;
        left: 349Px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top:  1045px;
        left: 547px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 1794px;
        left: -359px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 1794px;
        left: -151px;
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 1794px;
        left: 54px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 3220px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        
    }
    .fot21 {
        position: relative;
        margin: 80px;
        width: 150px;
    }
    .links{
        position: relative;
        top: 2149px;
        left: 57px;
        width: 800px;
    }

    .ma {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .tma{
        position: relative;
        top: -11px;
    }
    .be {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .wap {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .loc {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .erre{
        display: flex;
        margin: 15px;
    }
}
@media screen and (min-width: 1440px) {
    nav{
            
        background-color: #B9AFA8;
        height: 81px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 7px;
        list-style-type: none;
        left: 0px;
    }
    .logo{
        width: 47px;
        height: auto;
        position: relative;
        left: 48%;
        top: -47px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 21px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -107px !important;
        left: 775px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 181px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 1486px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 12%;
        height: 37px;
        background-color: white;
        border-style: none;
        color:#B9AFA8 ;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1103px;
        left: 163px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top:  1103px;
        left: 368Px;
        margin: 0;
    }
    .bt3{
        position: relative;
        top:  1103px;
        left: 579px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 1182px;
        left: -376px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 1182px;
        left: -159px;
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 1182px;
        left: 58px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 3334px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        
    }
    .fot21 {
        position: relative;
        margin: 80px;
        width: 150px;
    }
    .links{
        position: relative;
        top: 2222px;
        left: 57px;
        width: 800px;
    }

    .ma {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .tma{
        position: relative;
        top: -11px;
    }
    .be {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .wap {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .loc {
        width: auto;
        height: 55px;
        margin-right:  33px;
    }
    .erre{
        display: flex;
        margin: 25px;
    }
}
@media screen and (min-width: 1920px) {
    nav{
        
        background-color: #B9AFA8;
        height:105px ;
        overflow: hidden;
    }
    ul{
        display: flex;
        position: relative;
        top: 15px;
        list-style-type: none;
        left: -27px;
    }
    .logo{
        width: 63px;
        height: auto;
        position: relative;
        left: 48%;
        top: -55px;
    }
    a{
        font-family: 'Poppins', sans-serif; 
        color: #fff;
        font-size: 29px;
        margin: 66px;
        text-decoration: none;
    }
    .nav2{
        top: -125px !important;
        left: 1202px;
    }
    .p1{
        position: relative;
        top: 85px;
        margin-top: 20px;
        margin: 0;
        left: 4.5%;
        width: 91%;
    }
    .parte2{
         position: relative;
         margin-top: 20px;
         width: 100%;
         left: 0px;
         top: 215px;
         margin: 0;
    }
    .p2{
        background-color: #B9AFA8;
        height: 435px;
        position: absolute;
        top: 1114px;
        z-index: -1;
        width: 91%;
        left: 0px;
    }
    .part2{
        margin-top: 248px;
        
    }
    .p21{
        width: 435px;
        height: auto;
        position: relative;
        left: 73px;
        top: -189px;
    }
    .p22{
        position: relative;
        left: 99px;
        top: -338px;
    }
    .p23{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 72px;
        position: relative;
        left: 559px;
        top: -11px;
        color: #B9AFA8;
        width: 200px;
    }
    
    .p31{
        position: absolute;
        top: 2257px;
        left: 4.5%;
        width: 91%;
        margin: 0;
    }
    button{
        width: 16%;
        height: 45px;
        background-color: white;
        border-style: none;
        color:#B9AFA8 ;
        font-family: 'Poppins', sans-serif;
        font-size: 29px;
        font-weight: 400;
    }
    
    .bt1{
        position: relative;
        top: 1724px;
        left: 235px; 
        margin: 0;
    }
    .bt2{
        position: relative;
        top: 1724px;
        left: 765px; 
        margin: 0;
    }
    .bt3{
        position: relative;
        top: 3067px;
        left: -391px;
        margin: 0;
    }
    .bt4{
        position: relative;
        top: 3067px;
        left: 145px;
        margin: 0;
    }
    .bt5{
        position: relative;
        top: 4425px;
        left: -1002px;
        margin: 0;
    }
    .bt6{
        position: relative;
        top: 4425px;
        left: -463px;
        margin: 0;
    }
    .fot{width: 100%;
       position: absolute;
        top: 6671px;
        left: 0px;
        z-index: -1;
    }
    .eee{
        background-color: teal;
        height: 1000px;
    }
    .piu{
        margin: 0;
        font-size: 0;
    }
    .link{
        display: flex;
        position: relative;
        top: 4934px;
        left: 477px;
        width: 908px;
    }
    .fot21 .fot22 .fot23{
        position: relative;
        margin: 80px;
    }
    }
   